{{ form_start(documentModelForm) }}
<div class="card-header"><i class="fa fa-table"></i> Document </div>
<div class="card-body">
    <div class="row">
        <div class="col-6">
            <div>
                {{ form_row(documentModelForm.intitule) }}
            </div>

            <div>
                <label for="infos">Infos à inserer</label>
                <select class="form-control" id="infoSelect">
                    <option value="-1" disabled selected>-Veuillez Sélectionner</option>
                    {% for column in columns %}
                    <option value="[{{ column.colName }}]" name="[{{ column.colName }}]">{{ column.colName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-6">
            {{ form_row(documentModelForm.details) }}

        </div>
        <div class="col-12 mt-3">
            {{ form_row(documentModelForm.content) }}

            <div class="d-flex justify-content-end p-1">
                <input class=" btn btn-outline-primary" type="submit" value="Ajouter" />
            </div>
        </div>
    </div>
</div>
{{ form_end(documentModelForm) }}