{{ form_start(documentModelForm) }}
<div class="card-header">
    <img src="https://img.icons8.com/ios/50/000000/add-rule.png" style="width: 30px;" />
    Créer un modéle
</div>
<div class="card-body">
    <div class="row">
        <div class="col-6">
            <div>
                {{ form_label(documentModelForm.intitule, 'Intitulé ') }}
                {{ form_widget(documentModelForm.intitule) }}
            </div>
        </div>
        <div class="col-6">
            <div>
                <label for="infoSelect">Infos à inserer</label>
                <select class="form-control" id="infoSelect">
                    <option value="-1" disabled selected>-Veuillez Sélectionner</option>
                    {% for column in columns %}
                    <option value="[{{ column.colName }}]" name="[{{ column.colName }}]">{{ column.colName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-12 mt-3">
            {{ form_label(documentModelForm.content, 'Contenu ') }}
            {{ form_widget(documentModelForm.content) }}

            <div class="d-flex justify-content-end p-1">
                <input class=" btn btn-outline-primary" type="submit" value="Ajouter" />
            </div>
        </div>
    </div>
</div>
{{ form_end(documentModelForm) }}