{% extends 'base.html.twig' %}

{% block title %}ModelDocument index{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
<style>
    #preview {
        text-align: center;
        border: solid 2px;
        border-radius: 11px;
        padding: 10px 10%;
    }
</style>

<div class="d-flex">
    <a href="{{ path('model_document_index') }}" class="btn btn-outline-primary">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M5.854 5.646a.5.5 0 0 1 0 .708L3.207 9l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z">
            </path>
            <path fill-rule="evenodd"
                d="M13.5 2.5a.5.5 0 0 1 .5.5v4a2.5 2.5 0 0 1-2.5 2.5H3a.5.5 0 0 1 0-1h8.5A1.5 1.5 0 0 0 13 7V3a.5.5 0 0 1 .5-.5z">
            </path>
        </svg>
    </a>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> Document </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="modelSelect">
                                    <i class="fas fa-paste"></i> &nbsp;
                                    Choix du Model :
                                </label>
                                <select class="form-control orm-group mx-sm-4" id="modelSelect" name="modelSelect">
                                    <option value="-1" selected disabled>-Sélectionner-</option>
                                    {% for doc in documents %}
                                    <option value="{{doc.id}}">{{doc.intitule}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="userSelect">
                                    <i class="fas fa-user-alt"></i> &nbsp;
                                    Choix de la personne :
                                </label>
                                <select class="form-control orm-group mx-sm-4" id="userSelect" name="userSelect">
                                    <option value="-1" selected disabled>-Sélectionner-</option>
                                    {% for user in users %}
                                    <option value="{{user.id}}">{{user.nomFr}} {{user.prenomFr}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="d-flex justify-content-end p-1">
                <button class="btn btn-outline-success" id="printBtn">
                    <i class="fas fa-print"></i>
                    Imprimer
                </button>
            </div>

            <div name="preview" id="preview" class="preview">
                Veuillez sélectionner un type de
                <strong style="color:black">
                    <i class="fas fa-paste"></i>
                    Modéle
                </strong>
                dans la liste déroulante
                des modéles déja
                pré-inscrits et
                enregistrés,
                <br>
                ensuite veuillez choisir une
                <strong style="color:black">
                    <i class="fas fa-user-alt"></i>
                    Personne
                </strong> parmis la liste des employés.
                Le contenu du document sera remplit aussit&ocirc;t que possible dépendant de votre état de
                connexion
                ...
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="{{ asset('assets/js/printThis.js') }}"></script>
<script type="text/javascript">
    var j = jQuery.noConflict(true);
    j('#printBtn').on("click", function () {
        j('.preview').printThis({
            base: "https://jasonday.github.io/printThis/"
        });
    });
</script>
<script>
    // aprés la selection du modéle dans la liste déroulante
    $(document).ready(function () {
        $("#modelSelect").on("change", function (event) {
            $.ajax({
                url: '/model/document/ajaxGetModelById/' + $(this).val(),
                type: 'GET',
                dataType: 'json',
                async: true,
                success: function (documentHtml) {
                    document.getElementById("preview").innerHTML = documentHtml;
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Erreur de requéte Ajax ....');
                }
            });
        });
    });
</script>
<script>
    // aprés la selection du user dans la liste déroulante 
    $(document).ready(function () {
        $("#userSelect").on("change", function (event) {
            $.ajax({
                url: '/model/document/ajaxGetUserById/' + $(this).val(),
                type: 'GET',
                dataType: 'json',
                async: true,
                success: function (personnel) {
                    // $("#ajax-data_prenom-nom").html(personnel); // réussi ❤
                    //console.log(personnel);
                    var new_document = document.getElementById("preview").innerHTML
                        .replace('[Prénom, Nom]', personnel);
                    document.getElementById("preview").innerHTML = new_document // réussi ❤ 
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Erreur de requéte Ajax ....');
                }
            });
        });
    });
</script>
{% endblock %}