{% extends 'base.html.twig' %}



{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class=" mb-2 d-flex justify-content-end">
                <a class=" btn btn-outline-primary"  href="{{ path('mouvement_personnel_new') }}"> Ajouter </a>

            </div>
            <div class="card">
                <div class="card-header"><i class="fa fa-table"></i> Mouvements personnel</div>
                <div class="card-body">
                    <div class="table-responsive">


                    <table id="example" style="width: 100%;" class="table datatable table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Actions</th>

                            <th> Mat</th>
                            <th> Nom</th>
                            <th> Prénom</th>
                            <th> CIN</th>
                            <th> Type d'Affectation</th>
                            <th> Lieu d'Affectadion </th>
                            <th> Date d'affectation</th>
                            <th> Date fin</th>
                            <th> duree</th>
                            <th> N° Décision </th>
                            <th> Décision </th>
                            <th> Date Décision </th>
                            <th> fichier</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in mouvement_personnels %}
                            <tr>
                                <td>

                                    <a href="{{ path('mouvement_personnel_show', {'id': a.id}) }}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                            <path fill-rule="evenodd"
                                                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </a>
                                    <a href="{{ path('mouvement_personnel_edit', {'id': a.id}) }}">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                            <path fill-rule="evenodd"
                                                  d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                        </svg>
                                    </a>


                                </td>

                                <td>{{ a.personnel.matricule ? a.personnel.matricule:'' }}</td>
                                <td>{{ a.personnel.nomFr ? a.personnel.nomFr:'' }}</td>
                                <td>{{ a.personnel.prenomFr ? a.personnel.prenomFr:'' }}</td>
                                <td>{{ a.personnel.numCin ? a.personnel.numCin:"" }}</td>

                                <td>{{ a.typeAffectation }}</td>
                                <td>{{ a.lieuAffectation }}</td>
                                <td>{{ a.dateAffectation ? a.dateAffectation|date('Y/m/d') : '' }}</td>
                                <td>{{ a.dateFin ? a.dateFin|date('Y/m/d') : '' }}</td>

                                <td>{{ a.duree }}</td>
                                <td>{{ a.numDecision }}</td>
                                <td>{{ a.decision }}</td>
                                <td>{{ a.dateDecision? a.dateDecision|date("d/m/Y") }}</td>
                                <td><a target="_blank" href="{{ asset('uploads/')~ a.fichier }}">voir fichier</a></td>


                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="35">pas de mouvements</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                </div>
            </div>


            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <div class="card-header"><i class="fa fa-table"></i> Postes vacants</div>
                        <table id="example1" style="width: 100%;" class="table datatable table-striped table-bordered">
                            <thead>
                            <tr>

                                <th> Poste</th>
                                <th> Affectation</th>
                                <th> Secteur</th>
                                <th> Besoin</th>

                            </tr>
                            </thead>
                            <tbody>

<tr>
    <td></td>
    <td></td>

    <td></td>
    <td></td>

</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            //Default data table

            $('#example').DataTable({
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 lignes', '25 lignes', '50 lignes', 'afficher tous']
                ],
                buttons: [
                    'pageLength',
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: 'imprimer'
                    }, {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        },
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }, 'excel',

                    {
                        extend: 'colvis',
                        text: "visibilité"
                    }
                ],

                "language": {


                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                            '-1': "Tout afficher"
                        }
                    },

                    "paginate": {
                        "previous": "&lt",
                        "next": "&gt",

                    },
                    "info": "Affiche  _START_ à  _END_ de _TOTAL_ entrées",
                }

            });





            $('#example1').DataTable({
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 lignes', '25 lignes', '50 lignes', 'afficher tous']
                ],
                buttons: [
                    'pageLength',
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: 'imprimer'
                    }, {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        },
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }, 'excel',

                    {
                        extend: 'colvis',
                        text: "visibilité"
                    }
                ],

                "language": {


                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                            '-1': "Tout afficher"
                        }
                    },

                    "paginate": {
                        "previous": "&lt",
                        "next": "&gt",

                    },
                    "info": "Affiche  _START_ à  _END_ de _TOTAL_ entrées",
                }

            });


        });
    </script>
{% endblock %}