{% extends 'base.html.twig' %}

{% block title %}Personnel index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">

                    <div class="table-responsive">
                        <table id="example" class="table table-bordered  table-striped" style="width: 100%;">
                            <thead>
                            <tr>

                                <th>Actions</th>
                                <th> type affectation</th>
                                <th> Mat</th>
                                <th> Nom</th>
                                <th> Prénom</th>
                                <th> CIN</th>
                                <th> nouvelle affectation</th>
                                <th> nouveau secteur</th>
                                <th> date d'affectation</th>
                                <th> encienne affectation</th>
                                <th> encien secteur</th>
                            </tr>
                            </thead>
                            <tbody>



                            {% for a in mp %}
                                <tr>
                                    <td>
                                        actions

                                    </td>
                                    <td>{{ a.typeAffectation }}</td>
                                    <td>{{ a.personnel.matricule }}</td>
                                    <td>{{ a.personnel.nomFr }}</td>
                                    <td>{{ a.personnel.prenomFr }}</td>
                                    <td>{{ a.personnel.numCin }}</td>

                                    <td>{{ a.nouvelleAffectation}}</td>
                                    <td>{{ a.nouveauSecteur}}</td>
                                    <td>{{ a.dateAffectation|date}}</td>
                                    <td>{{ a.ancienAffectation}}</td>
                                    <td>{{ a.encienSecteur}}</td>




                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="35">no records found</td>
                                </tr>
                            {% endfor %}


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}